#contact {
    width: 100%;
    padding: 110px 0;
    text-align: center;
    background-color: black;

    h2 {
        color: white;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        @include font-style(40px, 500, 50px, 0.01em);
        span {
            color: $secondary-color;
        }
    }

    p {
        @include font-style(17px, 500, 23px, 0);
        color: white;
        margin: 20px auto 30px auto;
        width: 100%;
        max-width: 650px;
    }

    form {
        margin: 0 auto;
        input, textarea {
            background: transparent;
            border: 1px solid white;
            border-radius: 15px;
            color: white;
            padding: 12px 20px;
            font-family: 'Catamaran', sans-serif;
            font-size: 16px;

            &:focus {
                border: 1px solid $secondary-color;
                outline: none;
                
            }

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1; /* Firefox */
              }
              
              &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: white;
              }
              
              &::-ms-input-placeholder { /* Microsoft Edge */
                color: white;
              }
           
        }

        input {
            width: 260px;
            &#first-name {
                width: 218px;
                margin-right: 30px;
            }
           
        }
       
        #phone-number {
            padding-left: 45px;
        }

        textarea {
            margin: 35px 0;
            width: 100%;
            max-width: 508px;
        }

        a {
            margin: 0 auto;
            padding:15px;

            &:hover {
                background: $secondary-color;
            }
        }
    }
}